<p id="notice"><%= notice %></p>

<h1>Clientes</h1>

<table class ="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Nome</th>
      <th>Cpf</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nclientes.each do |ncliente| %>
      <tr>
        <td><%= ncliente.nome %></td>
        <td><%= ncliente.cpf %></td>
        <td><%= link_to 'Exibir', ncliente,class:"btn btn-dark" %></td>
        <td><%= link_to 'Editar', edit_ncliente_path(ncliente),class:"btn btn-warning" %></td>
        <td><%= link_to 'Apagar', ncliente, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Cliente', new_ncliente_path,class:"btn btn-dark" %>
